*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Main_banner{
    background-image: url(./img/main-bg.jpg);
    background-size: 100% 120%;
    height: 120vh;
    width: 100%;
}
#Main_banner_inner{
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
}


#Main_banner_inner h1{
    font-size:65px;
    line-height: 1.3;
    font-weight: 700;
    color: #19082d;
    margin: 0 0 27px;
}
#Main_banner_inner p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #3e3e3e;
    margin: 0 0 45px;
}
#banner_right{
    width: 100%;
}
#banner_right img{
    width: 100%;
}

#banner_btn1{
    background-color: rgba(103, 34, 181, 0.85);
    padding: 21px 33px;
    border-radius: 15px;
    color: #ffffff;
    border: none;
}
#banner_btn2 i{
    position: relative;
    border-width: 1px;
    border-radius: 15px;
    font-weight: 600;
    border-color: #6722b5;
    color: #6722b5;
    border-style: solid;
    margin-left: 12px;
    margin-right: 15px;
    padding: 22px 33px !important;
    width: 80px;
    height: 69px;
    display: inline-block;
}
#introPlay{
    font-size: 18px;
    font-weight: 600;
    color: #3E3E3E;
}

#mainCard-session{
    padding: 4rem 4rem;
    background-color: #ECDFF5;
    text-align: center;
}

#mainCard-session1{
    padding: 7rem 4rem;
    background-color: #ffffff;
}

#mainCard-session2{
    padding: 4rem 4rem;
    background-image: url(./img/price-bg1.png);
    width: 100%;
    text-align: center;
}

#mainCard-session4{
    padding: 3rem 4rem;
    background-color: #e5e5e5;
    width: 100%;
    text-align: center;
}

#mainCard-Footer{
    padding: 3rem 2rem 0rem 2rem;
    background-color:#1d1c2d !important;
    width: 100%;
    /* text-align: center; */
}

#mainCard-session3{
    padding: 4rem 4rem;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
}
#mainCard-session5{
    background-color: #6721b5;
    padding: 6rem 1rem 0rem 1rem;
}


#card_session_text p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #ff7425;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 10px;
    display: block;
}
#card_session_text h5{
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: #19082d;
    margin: 0;
}
#cardsession_inner{
    width: 100%;
    text-align: center !important;
    margin-top: 2rem;
}
#mainCARD_session{
    margin-top: 2rem;
}
#card1{
    padding: 3rem 2rem;
    border: none;
    border-radius: 2.2rem;
    box-shadow: 38px 45px 93px -10px rgba(0, 0, 0, 0.05);
}
#card1:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 38px 45px 93px -10px rgba(0, 0, 0, 0.151);
}

#card2{
    padding: 1rem ;
    text-align: start;
    border: none;
    border-radius: 2.2rem;
    box-shadow: 38px 45px 93px -10px rgba(0, 0, 0, 0.05);
}
#card2:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 38px 45px 93px -10px rgba(0, 0, 0, 0.151);
}


#cardsession_inner img{
    text-align: center;
}
.card-title{
    color: #19082d;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Jost', sans-serif !important;
    font-weight: 600;
    /* margin-top: 1rem; */
}
.card-title:hover{
    color: #6722b5;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
    outline: none !important;
}

.card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #3E3E3E;
    margin-bottom: 20px;
}
#link_card a{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 16px;
    color: #3E3E3E;
    font-family: "Jost", Sans-serif;
}
#link_card a:hover{
    color: #6722b5;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
    outline: none !important;
}

#link_card a i {
    margin-left: 6px;
}

#link_card a:hover i {
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}


/* sfitf start */

#SWIPY_MainCol{
    width: 100% !important;
    display: flex;
    justify-content: center;
}

#SWIPY_img{
    text-align: center;
    background-image: url(./img/min.png);
    background-size: 100% 27rem;
    width: 27rem;
    height: 27rem;
}

#SWIPY_img1{
    background-image: url(./img/about.png);
    position: absolute;
    background-size: 100% 31rem;
    width: 25rem;
    height: 31rem;
}
#mainCard-session1_blue_img{
    width: 100%;
    text-align: end;
}

#mainCard-session1_blue_img img{
    margin: 2rem 7rem;
}

#mainCard-session1_bron_img{
    width: 100%;
    text-align: center;
}

#mainCard-session1_bron_img img{
    margin: 2rem 9rem 2rem 0rem;
}

#MainSession_second_swipy p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #6722b5;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 10px;
    display: block;
}

#MainSession_second_swipy h3{
    font-size: 45px;
    line-height: 52px;
    font-weight: 700;
    color: #19082d;
    margin-bottom: 1rem;
}
#MainSession_second_swipy span{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #3e3e3e;
}

#swipy_card_icon p{
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #ff7425;
}

#swipy_card_icon h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #413F3F;
}
#Swifty_btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(103, 34, 181, 0.85) !important;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
    font-family: "Jost", Sans-serif;
    background-color: rgba(103, 34, 181, 0.85);
    padding: 16px 35px 16px 35px;
    z-index: 1;
    border-radius: 0px 0px 0px 0px;
    transition: all 0.4s ease-in-out 0s;
    overflow: hidden;
}

.plan_btn{
    background-color: #ffffff;
    /* width: 30%; */
    margin: 0rem 26rem;
    padding: 1.2rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
}
#monthly{
    margin: 0rem 0.3rem;
    border-radius: 0.3rem;
    padding: 0.6rem 1.7rem;
    color: white;
    font-weight: 500;
    background-color: #6722B5;
}

#free_plane{
    border-bottom: 1px solid #eeeeee;
}
#free_plane h5{
    font-size: 20px;
    font-weight: 500;
    color: #6722b5;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

#free_plane h6{
    font-size: 20px;
    font-weight: 600;
    color: #6722b5;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 15px;
}
#our_plane_ul li{
    list-style-type: none;
}
#our_plane_ul h6{
    font-size: 16px;
    color: #3E3E3E;
    opacity: .8;
    line-height: 22px;
    padding: 1rem 0rem;
    font-family: 'Jost', sans-serif;
}
#our_plane_li{
    margin-top: 1rem;
}
#our_plane_li i{
    border: 1px solid silver;
    /* padding: 0.3rem; */
    text-align: center;
    align-items: center;
    padding-top: 0.2rem;
    font-size: 0.7rem;
    border-radius: 2rem;
    height: 1.3rem;
    width: 1.3rem;
}

#our_plane_li:hover{
    color:#6722b5;
    /* padding-left: 36px; */
    /* margin: 15px 0; */
    transition: all .5s ease;
}

#our_plan_btn{
    display: inline-block;
    border: 1px solid #6722B5;
    font-size: 18px;
    line-height: 28px;
    color: #6722B5;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}

#our_plan_btn:hover{
    color: white;
    background-color: #6722B5;
    transition: all 0.3s ease-in-out;
}

#TESTIMONIAL_main{
    display: flex;
    justify-content: space-between;
    text-align: start;
}
#TESTIMONIAL_title p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #ff7425;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 10px;
    display: block;
}

#TESTIMONIAL_title h5{
    font-size: 44px;
    font-weight: 600;
    line-height: 54px;
    color: #19082d;
    margin: 0;
}
#TESTIMONIAL_caret i{
    font-size: 2rem;
    margin: 0rem 1rem;
}

#free_plane2 h5{
    font-size: 20px;
    font-weight: 500;
    color: #6722b5;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 15px;
}
#quest2{
    display: none;
}
.TESTIMONIAL:hover #quest1{
    display: none;
    transition: all 0.4s ease-in-out;
}

.TESTIMONIAL:hover #quest2{
    display: block;
    transition: all 0.1s ease-in-out;
}
#TESTIMONIAL-text p{
    font-size: 20px;
    line-height: 34px;
    color: #3e3e3e;
    margin: 34px 0 25px 0;
}
#TESTIMONIAL_user{
    display: flex;
}
#TESTIMONIAL_img-text{
    margin-left: 0.6rem;
}
#TESTIMONIAL_img-text h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    color: #372748;
    font-family: "Jost", Sans-serif;
}
#TESTIMONIAL_img-text h6{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #3E3E3EB5;
    padding-bottom: 10px;
    display: block;
}

#OURNEWStext p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #6722b5;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 10px;
    display: block;
}
#OURNEWStext h5{
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: #19082d;
    margin: 0;
}

#OURNEWS{
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0rem;
}

#OURNEWS h6{
    /* position: relative; */
    text-transform: capitalize;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    color: #3e3e3e;
    /* margin-right: 45px; */
    letter-spacing: 0.1em;
    margin-top: 3px;
}
#OURNEWS-text p{
    padding-top: 1rem;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
    font-family: Jost;
    margin-bottom: 18px;
}
#OURNEWS_inner_body{
    text-align: center;
}
#OURNEWS-text p:hover{
    color: #6722b5;
    transition: all 0.3s ease;
    text-decoration: none !important;
    outline: none !important;
}

/* LETSTALK */

#LETSTALK h6{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #ff7425;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 10px;
    display: block;
}

#LETSTALK h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color:#ffffff;
    margin: 0;
}

#LETSTALK p{
    font-size: 18px;
    margin-top: 1rem;
    padding: 0rem 9rem 0rem 0rem;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}
#LETSTALK_input input{
    font-size: 18px;
    padding: 18px 30px 18px 30px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    color: #FFFFFF;
    background-color: #FFFFFF12;
    border-width: 0px 0px 0px 0px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.05);
    border: none !important;
    width: 100%;
    max-width: 100%;
    opacity: 1;
    margin-top: 1rem;
}

#LETSTALK_input textarea{
    font-size: 18px;
    padding: 18px 30px 18px 30px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    color: #FFFFFF;
    background-color: #FFFFFF12;
    border-width: 0px 0px 0px 0px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.05);
    border: none !important;
    width: 100%;
    max-width: 100%;
    opacity: 1;
    margin-top: 1rem;
}
#LETSTALK_form{
    margin-top: 2rem;
}
#LETSTALKIMG{
    width: 100%;
}
#LETSTALKIMG img{ 
    width: 100%;
    /* height: 95vh; */
}
#LETSTALK_form ::placeholder{
    color: white;
}

#LETSTALK_btn{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

#LETSTALK_btn1{
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(300deg, #ff7425 0%, #ff7425 100%);
    padding: 21px 36px 21px 36px;
    text-transform: uppercase;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.05);
    border: none;
}
#LETSTALK_btn2{
    display: inline-block;
    position: relative;
    height: 70px;
    width: 70px;
    /* line-height: 70px; */
    border-radius: 100%;
    text-align: center;
    background: #fff;
    margin: 0rem 2rem;
    border: none;
}
#LETSTALK_btn2 i{
  font-size: 2rem;
}
#LETSTALK_btn3{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    /* text-align: center; */
}

#NavSet{
    margin-left: 9rem;
}
#NavSet li{
    margin-left: 2rem;
}
.NavIdSet{
    display: flex;justify-content: space-between;
}
#main_nav_small{
    display: none;
}
#main_nav_small img{
    width: 100%;
    display: inline;
}
#NavSet li a{
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
    height: 110px;
    line-height: 110px;
    padding: 0;
    color: #19082d;
    position: relative;
    font-family: Poppins;
    transition: all 0.3s ease;
    text-transform: capitalize;
}
#NavSet li a:hover{
    transition: all 0.3s ease 0s;
    color: #6722b5;
}

#NavSet1 li a{
    font-size: 18px;
    font-weight: 700;
    font-family: Poppins;
    transition: all 0.3s ease;
    text-transform: capitalize;
}
#first_Footer{
    align-items: center;
    border-bottom: 1px solid silver;
}
#second_Footer{
    padding: 2rem 0rem;
    border-bottom: 1px solid silver;
}
#first_Footer h1{
    position: relative;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    color: #ffffff;
}

#ScannFooter1 h1{
    position: relative;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    color: #ffffff;
    display: none;
    margin-top: 1rem;
}

#ScannFooter p{
    margin: 20px 0px 20px 0;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

#ScannFooter input[type="email"]{
    width: 85%;
    font-size: 16px;
    padding: 15px 30px;
    margin: 0;
    color: red !important;
    overflow: hidden;
    background: #fff;
    border: none;
    border-radius: 10px;
    max-width: 100%;
    opacity: 1;
}

#ScannFooter button{
    position: relative;
    border: none;
    background: #6722b5;
    color: #fff;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    outline: none;
    transition: all 0.3s;
    border-radius: 10px;
}

#ScannFooter button:hover{
    background: #ff7425;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

#foter_icon{
    display: flex;
    margin: 3rem 0rem 0rem 0rem;
}
#foter_icon i{
    color: #ffffff;
    display: block;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 7px;
    width: 38px;
    height: 38px;
    margin-right: 1rem;
    line-height: 40px;
    text-align: center;
    transition: all 0.4s;
}

#foter_icon i:hover{
    background: #ff7425;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
#ScannFooter1 ul li{
    list-style-type: none;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    padding: 6px 0 4px 0px;
    display: inline-block;
    color: #ffffff;
    opacity: .8;
    transition: all 0.3s;
    display: block;
    /* text-align: center; */
}

#ScannFooter1 ul li:hover{
    color: #ff7425;
    transition: all 0.3s ease-in-out;
}

#thred_Footer{
    display: flex;
    justify-content: space-between !important;
    padding: 1rem 0rem;
}
#thred_Footer p{
    transition: all 0.4s;
    color: #ffffff;
}

#thred_Footer2 a{
    text-decoration: none;
    color: #fff;
}

#thred_Footer2 a:hover{
    color: #ff7425;
    transition: all 0.3s ease-in-out;
}
#thred_Footer1{
    display: flex;
}

#thred_Footer1 li a{
    font-size: 16px;
    font-weight: 300;
    opacity: .8;
    color: #ffffff;
}

#thred_Footer1 li a:hover{
    color: #ff7425; 
    transition: all 0.3s ease-in-out;
}



@media(min-width:280px) and (max-width:540px){
    #main_nav_large{
        display: none;
        padding: 0rem;
    }
    #main_nav_small{
        display: block;
    }
    #mainCard-session{
        padding: 1rem;
    }
    .card{
        padding: 1rem;
    }
    #SWIPY_img{
        display: none;
    }
    #SWIPY_img1{
        width: 100%;
    }
    #mainCard-session1{
        padding: 2rem;
        background-color: #ffffff;
    }
    #MainSession_second_swipy h3{
        font-size: 25px;
    }
    #mainCard-session2{
        padding: 1rem;
        background-color: #ffffff;
    }
    .plan_btn{
        width: 100%;
        margin: 1rem 0rem;
    }
    #monthly{
        margin: 0rem 0.2rem;
        padding: 0.6rem 1.7rem;
    }
    #mainCard-session3{
        padding:4rem 1rem;
    }
    #TESTIMONIAL_caret{
        display: flex;
    }
    #TESTIMONIAL_caret i{
        font-size: 1rem;
        margin: 0rem 0.4rem;
    }
    #mainCard-session4{
        padding: 3rem 1rem;
    }
    #LETSTALK{
        text-align: center;
        padding: 2rem 0rem;
    }
    #LETSTALK h2{
        font-size: 40px;
    }
    #LETSTALK p{
        padding: 0rem 0rem 0rem 0rem;
    }
    #LETSTALK_btn{
        display: block;
        /* text-align: start; */
        align-items: center;
    }
    #LETSTALK_btn3{
        margin-top: 1rem;
    }
    #Main_banner{
        background-image: url(./img/main-bg.jpg);
        background-size: 100% 125%;
        height: 145vh;
        width: 100%;
        padding: 0rem 1rem;
    }
    #Main_banner_inner{
        padding: 0rem 0rem;
    }
    #Main_banner_inner h1{
        font-size:45px;
    }
    #Main_banner_inner p{
        font-size: 30px;
        line-height: 3rem;
    }
    #banner_main_btn{
        margin: 1rem 0rem 2rem 0rem;
    }
    #first_Footer h1{
        display: none;
    }
    #ScannFooter1 h1{
        display: block;
    }
}



@media(min-width:541px) and (max-width:1024px){
    #mainCard-session{
        padding: 2rem;
    }
    .card{
        padding: 1rem;
    }
    #MainSession_second_swipy h3{
        font-size: 35px;
    }
    .plan_btn{
        width: 40%;
    }
    #monthly{
        margin: 0rem 0.2rem;
        padding: 0.6rem 1.7rem;
    }
    .plan_btn{
        width: 45%;
        margin: 1rem 16rem;
    }
    #Main_banner_inner h1{
        font-size:45px;
    }
    #Main_banner{
        background-image: url(./img/main-bg.jpg);
        background-size: 100% 100%;
        height: 100vh;
        width: 100%;
        padding: 0rem 1rem;
    }
}